modules = ["nodejs-20", "web", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GOOGLE_MEET_LINK = "meet.google.com/nmq-vgkr-wxd"
ADMIN_PASSWORD = "8426010203"
TELEGRAM_CHAT_ID = "6495864473"
TELEGRAM_BOT_TOKEN = "8952008305:AAFa20JJPj5aJvItsW-VJodvieOXXVRzNMM"

[nix]
channel = "stable-25_05"
